
// Layout
@import "layout/_landing.scss";
@import "layout/_footer.scss";


#wrapper {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}

/* ------------ About Section --------------------------------------------------------------------*/
.about-section {
    height: 100vh;
    background-image: url("../img/about-bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-color: #0f0f0f;
}

.about-container {
    box-shadow: 2px 2px 12px rgba(0, 0, 0.2);
    width: 60em;
    height: 24em;
    margin: auto;
    margin-top: 2%;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    position: relative;
}

.about-photo {
    width: 20%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.about-text {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin-right: 1%;
    color: black;
    font-weight: 600;
}

.about-text span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ------------ Projects Section --------------------------------------------------------------------*/
.projects-section {
    height: 100vh;
    background-color: #ffffff;
}

.project-list {
    list-style: none;
    width: 50%;
    height: auto;
    float: left;
}

.project-card {
    height: 400px;
    background-color: #000000;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center; /* y-axis center, work with display:flex*/
    justify-content: center;/* x-axis center*/
    color: white;
}
.project-card a {
    color: white;
}

.vermilion:hover {
    background-color: rgb(134, 25, 6);
    transition: background-color 0.05s ease 0.2s;
    cursor: pointer;
}
.recipeFinder:hover {
    background-color: rgb(240, 136, 0);
    transition: background-color 0.05s ease 0.2s;
    cursor: pointer;
}

.recipeFinder-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    border: 1px solid #888;
    left: 0;
    top: 0;
    width: 100%;     
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.recipeFinder-modal div {
    margin: auto;
    width: 66%;
}
.recipeFinder-header {
    background-color: rgb(240, 136, 0);
    padding: 5px 20px;
}
.recipeFinder-content {
    background-color: #fefefe;
    padding: 20px;
}
.recipeFinder-modal img {
    width: 100%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* =======================================MEDIA QUERIES=========================================== */
/*--- 1000px and down------------------------------------*/
@media(max-width:1000px) {
    *{
        box-sizing: border-box;
    }
    section {
        height: 100vh;
        background-size: cover;
    }
    .about-container {
        width: 90%;
        border-radius:10px;
    }
}


/*--- 750px & DOWN ------------------------------------*/
@media(max-width: 750px) {
    .about-section {
        height: auto;
    }
    
    .about-container {
        top: 0;
        flex-direction: column;
        width: 90%;
        height: auto;
        align-items: center;
    }

    .about-text {
        width: 90%;
        text-align: center;
    }

    .about-photo {
        margin-top: 0;
        width: 30%;
    }

    .project-list {
        width: 100%;
        display: inline-block; 
    }
    .footer-logo {
        width: 20%; 
    }
    .project-card {
        height: 300px;
    }
}

/* Height 500px and less*/
    @media(max-height: 500px) {
        section {
            height: 100%;
        }
        .about-section { 
            height: 100%;
        }
        /* .projects-section {
            height: auto;
        } */

    }