
// Layout
@import "layout/_header.scss";
@import "layout/_landing.scss";
@import "layout/_footer.scss";
@import "layout/_projects.scss";
@import "layout/_projects2.scss";

#wrapper {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 320px;
}

/* =======================================MEDIA QUERIES=========================================== */
/*--- 1000px and down------------------------------------*/
@media(max-width:1000px) {
    *{
        box-sizing: border-box;
    }
    .about-container {
        width: 90%;
        border-radius:10px;
    }
}

/* Height 500px and less*/
@media(max-height: 500px) {
    section {
        height: 100%;
    }
}