
/* ------------ Footer Section --------------------------------------------------------------------*/
.footer-section {
  height: auto;
  background-color: #ffffff;
}
.footer-logo {
  width: 10%;
  margin: 1% 5%;
}
.footer-logo:hover {
  transform:scale(1.1);
}
.footer-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  background-color: #ffffff;
} 