$section-height: 770px;

#landing-section {
  height: $section-height;
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
  
  > img {
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
 }
}

#home-sect {
  height: 100%;
}

/* ------------ Main Landing --------------------------------------------------------------------*/
.landing-text {
  margin: calc($section-height/3) auto 0 auto;
  text-align: center;

  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    font-weight: bold;
  }

  p:nth-child(1) {
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 0;;
    width: 3em;
    animation: typing1 0.3s steps(15, end);
    animation-fill-mode: forwards;
    border-right: .15em solid black;
  }

  p:nth-child(2) {
    letter-spacing: 0.2vw;
    color: #ffffff;
    font-size: 3.5em;
    margin-bottom: 0;
    opacity: 0;
    width: 6em;
    animation: typing2 0.5s steps(35, end);
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    border-right: .15em solid white;
  }
}

.landing-row-class {
  position: relative;
}

.landing-logo {
  position: relative;
  display: inline-block;

  img {
    margin-top: 1em;
    width: 36px;
    height: 31px;
  }

  :hover .black-logo {
    display: inline;
  }

  .black-logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*--------------Keyframes-------------- */
@keyframes typing1 {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid black;
  }
  100% {
    border: none;
  }
}
@keyframes typing2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

/*--------------Media frames-------------- */
@media(max-width: 750px) {
  .landing-text {
    margin: 200px auto 0 auto;
    left: auto;
    text-align: center;
    width: 100%;
    
    p:nth-child(1) {
      font-size: 2em;
    }
    p:nth-child(2) {
      font-size: 3em;
    }
  }
}