/* section {
    width: 100%;
    height: 95vh;
    background-image: url("./Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #0f0f0f;
} */

/* Small devices & up (landscape phones, 576px and up) */
/* @media (min-width: 576px) { */
    body {
        background-color: #ffffff;
        margin: 0;   
        padding: 0;
    }   

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    section {
        width: 100%;
        height: 95vh;
        background-image: url("./Images/bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        background-color: #0f0f0f;
    }
    /* ------------ Navigation bar --------------------------------------------------------------------*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #ffffff;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
        padding: 0px 5%;
    }

    nav ul {
        display: flex;
        margin: 0;
    }
    
    nav ul li a {
        margin: 2vh 3vh;
        color: #979797;
        font-size: 3vh;
        font-weight: 600;
    }

    nav ul li a:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-logo-size {
        /* height: 25px; 
        width: 31px; */
        height: 4.25vh;
        width: 5vh;
    }

    .active {
        font-weight: bold;
        color: #2d2a2a;
    }
    /* ------------ Header-text --------------------------------------------------------------------*/
    .header-text {
        padding-top: 12%;
        padding-left: 6%;
    }

    /* .header-text p { */
        /* line-height: 0px; */
        /* margin: 2vh 0; */
        /* margin: 45px 0px 25px; */
    /* } */

    .header-text p:nth-child(1){
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
        font-size: 4.5vh;
        margin-bottom: 0;
    } 

    .header-text p:nth-child(2) {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 0.2vw;
        color: #ffffff;
        font-size: 10vh;
        margin-bottom: 0;
    }

    .header-text p:nth-child(3) {
        font-family: myriad pro regular;
        color: #8f8f8f;
        font-size: 5vh;
        line-height: 5vh;
    } 

    .header-text button {
        /* width: 130px; */
        width: 16vw;
        /* height: 42px; */
        height: 6vh;
        /* border-radius: 10px; */
        border-radius: 1em;
        font-family: Comic;
        font-weight: bold;
        /* font-size: 14px; */
        font-size: 2vh;
        outline: none;
        /* margin: 0px 10px; */
        margin: 0vh 1vh;
    }

    .contact-me {
        background-color: #ffffff;
        color: #0f0f0f;
    }

    .contact-me:hover {
        background-color: #000000;
        color: #ffffff;
        border: none;
        transition-duration: 0.4s;
    }

    button:active {
        transform: scale(1.1);
    }

    /* ------------ About Section --------------------------------------------------------------------*/
    .about-section {
        height: 95vh;
        background-image: url("./Images/about-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        background-color: #0f0f0f;
    }

    .about-container {
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0.2);
        width: 80%;
        /* height: 320px; */
        height: 56vh;
        margin: auto;
        margin-top: 2%;
        background-color: #C0C0C0;
        display: flex;
    }

    .about-photo {
        height: 70%;
        width: auto;
        /* margin-top: 40px; */
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .about-text {
        margin-right: 1%;
        overflow: auto;
    }

    .about-text p:nth-child(1) {
        color: #444444;
        font-weight: 600;
        text-shadow: 1px 1px darkgray;
        /* margin-left: 5%; */
    }

    .about-text p:nth-child(2) {
        color: #000000;
        font-weight: 600;
        /* margin-left: 5%; */
    }

    /* ------------ Projects Section --------------------------------------------------------------------*/
    .projects-section {
        height: 95vh;
        background-color: #000000;
        color: white;
    }
/* } */
